---
interface Props {
    titulo: string;
    subtitulo: string;
    fecha: string;
    contenido: string;
    link?: string;
}

const { titulo, subtitulo, fecha, contenido, link } = Astro.props;
---

<li class="">
    <div
        class="relative mx-12 pb-6 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-chill-900 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
        <div class="relative pb-6 md:col-span-2">
            <div class="sticky top-0">
                <span
                    class="text-chill-400 -left-[42px] absolute rounded-full text-5xl"
                    >•</span
                >
                <h3 class="text-xl font-bold text-chill-400">{titulo}</h3>
                <h4 class="font-semibold text-lg text-chill-50">{subtitulo}</h4>
                <time class="p-0 m-0 text-sm text-chill-50/30">{fecha}</time>
            </div>
        </div>
        <div class="relative flex flex-col gap-2 pb-4 text-chill-50/60 md:col-span-3 text-sm md:text-base">{contenido}
            {
                link && (
                    <a
                        href={link}
                        target="_blank"
                        role="link"
                        class="inline-flex w-max items-center text-sm font-medium text-chill-500 transition-colors duration-300 hover:text-chill-700"
                    >
                        Saber más
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 icon icon-tabler icon-tabler-chevron-right"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 6l6 6l-6 6" />
                        </svg>
                    </a>
                )
            }
        </div>
    </div>
</li>
