---
import Modulo from './Modulo.astro';
import Pdeco from './Pdeco.astro';
import { curriculum } from '../../cv';
---

<section class="first pt-10">
    <div class="w-[200px]">
        <Modulo title="Educación">
            <Pdeco 
                title={curriculum.educacion.titulo}
                subtitulo={curriculum.educacion.institucion}
                fecha={curriculum.educacion.fecha}
                details={curriculum.educacion.detalle}
            >
        </Modulo>
    </div>
    <div class="flex flex-col gap-y-10">
        <Modulo title="Sobre Mí">
            <Pdeco
                details={curriculum.about.resume}
            >
            </Pdeco>
        </Modulo>
        <Modulo title="Experiencia Laboral">
            {
                curriculum.experiencia.map(({cargo, empresa, inicio, fin, descrip, lugar}) => (
                    <Pdeco
                        title=`${cargo} | ${inicio} - ${fin}`
                        subtitulo=`${empresa} - ${lugar}`
                        details={descrip}
                    />
                ))
            }
        </Modulo>
    </div>
</section>

<style>
	.first{
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 2rem;
	}
</style>