---
import LiEstudios from "@/components/LiEstudios.astro"
import infoPorfolio from "../../infoPorfolio.json"
---
<article class="[grid-area:estudios]" id="estudios">
    <h2 class="text-2xl font-bold text-chill-50 font-cinzel">Estudios</h2>
    <ol class="relative mt-6 w-full max-w-[800px] mx-auto">
        {
            infoPorfolio.educacion.map(({institucion, titulo, inicio, fin, descripcion}) => {
                return <LiEstudios titulo={institucion} subtitulo={titulo} fecha=`${fin} - ${inicio}` contenido={descripcion}/>
            })
        }
    </ol>
    <h2 class="text-2xl font-bold text-chill-50 font-cinzel mt-12">Experiencia</h2>
    <ol class="relative mt-6 w-full max-w-[800px] mx-auto">
        {
            infoPorfolio.experiencia.map(({proyecto, descripcion, subtitulo, link, fin, inicio})=>{
                return <LiEstudios titulo={proyecto} subtitulo={subtitulo} fecha=`${fin} - ${inicio}` contenido={descripcion} link={link}/>
            })
        }
    </ol>

</article>
