---
import LiEstudios from "@/components/LiEstudios.astro"
import infoPorfolio from "../../infoPorfolio.json"
---
<article class="[grid-area:estudios] flex flex-col gap-8 lg:flex-row" id="estudios">
    <div class="first-content">
        <div class="lg:sticky lg:top-0">
            <h2 class="text-2xl font-bold text-chill-50 font-cinzel">Estudios</h2>
            <ol class="relative mt-6 w-full max-w-[800px] mx-auto">
                {
                    infoPorfolio.educacion.map(({institucion, titulo, inicio, fin, descripcion}) => {
                        return <LiEstudios titulo={institucion} subtitulo={titulo} fecha=`${fin} - ${inicio}` contenido={descripcion}/>
                    })
                }
            </ol>
        </div>
    </div>
    <div class="second-content">
        <h2 class="text-2xl font-bold text-chill-50 font-cinzel">Experiencia</h2>
        <ol class="relative mt-6 w-full max-w-[800px] mx-auto">
            {
                infoPorfolio.experiencia.map(({proyecto, descripcion, subtitulo, link, fin, inicio})=>{
                    return <LiEstudios titulo={proyecto} subtitulo={subtitulo} fecha=`${fin} - ${inicio}` contenido={descripcion} link={link}/>
                })
            }
        </ol>
    </div>


</article>
